/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFF;
}

/* Middle Section (Man With a Laptop) Custom CSS */


/* Student Feedback Section Custom CSS */
.rating-and-all{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 50px;

}

.fa-star, .fa-star-half-stroke{
    color: orange;
    font-size: 13px;
}

.feedback-job-title{
    margin-top: -7px;
}

.feedback-student-name{
    margin-top: 15px;
}



/* Modal Section Custom CSS */
.modal-section{
    margin-top: 110px;
}
.register-button{
    margin-left: -100px;
}
.modal-body{
    margin-top: -90px;
}
.registration-button:hover{
    color: white;
    background-color: rgb(234, 246, 109);
    border: 2px solid black;
}


/* Brand Logos Section */
.brand-logos-section{
    margin-top: 120px;
}



/* Footer Customized CSS  */
.footer-section{
    margin-top: 100px;
}
.footer-terms-and-condition{
    text-decoration: none;
    color: white;
}
.footer-email, .forter-mobile{
    margin-top: -14px;
}
